<div class="wrapper">
  <div class="header-home">
    <app-navbar></app-navbar>
  </div>
  <div class="body-maestros">
    <div class="row mt-5 mb-5">
      <div class="col-12">
        <span class="title-perfil">Eventos Académicos</span>

      </div>
    </div>
    <div class="container">
      <div class="row mt-3 mb-5" style="text-align: center;">
        <div class="col-12">
          <div class="alert alert-primary" role="alert">
            <span class="title-table">Lista de eventos registrados</span>
          </div>
        </div>
      </div>
      <!-- Tabla de angular material -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <!-- 1era fila -->
            <ng-container matColumnDef="nombreEv">
                <th mat-header-cell *matHeaderCellDef> Nombre Evento </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreEv}} </td>
            </ng-container>

            <!-- 2da fila -->
            <ng-container matColumnDef="tipo_evento">
                <th mat-header-cell *matHeaderCellDef> Tipo Evento </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo_evento}} </td>
              </ng-container>

              <ng-container matColumnDef="fecha_realizacion">
                  <th mat-header-cell *matHeaderCellDef> Fecha Realización </th>
                  <td mat-cell *matCellDef="let element"> {{element.fecha_realizacion | date: 'dd/MM/yyyy':'UTC'}} </td>
              </ng-container>

              <ng-container matColumnDef="horaInicio">
                  <th mat-header-cell *matHeaderCellDef>Hora Inicio</th>
                  <td mat-cell *matCellDef="let element"> {{element.horaInicio }} </td>
              </ng-container>

              <ng-container matColumnDef="horaFin">
                  <th mat-header-cell *matHeaderCellDef> Hora Fin </th>
                  <td mat-cell *matCellDef="let element"> {{element.horaFin }} </td>
              </ng-container>

            <!-- 3era fila -->
            <ng-container matColumnDef="lugar">
                <th mat-header-cell *matHeaderCellDef> Lugar </th>
                <td mat-cell *matCellDef="let element"> {{element.lugar}} </td>
            </ng-container>

            <!-- Symbol Column -->

            <ng-container matColumnDef="publico_json">
                <th mat-header-cell *matHeaderCellDef> Público </th>
                <td mat-cell *matCellDef="let element"> {{element.publico_json.join(', ')}} </td>
            </ng-container>

            <ng-container matColumnDef="responsable">
                <th mat-header-cell *matHeaderCellDef> Responsable </th>
                <td mat-cell *matCellDef="let element"> {{element.responsable}} </td>
            </ng-container>

            <ng-container matColumnDef="programa_educativo">
                <th mat-header-cell *matHeaderCellDef> Programa Educativo </th>
                <td mat-cell *matCellDef="let element"> {{element.programa_educativo}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion_breve">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion_breve}} </td>
            </ng-container>

            <ng-container matColumnDef="cupo">
                <th mat-header-cell *matHeaderCellDef> Cupo Máximo </th>
                <td mat-cell *matCellDef="let element"> {{element.cupo}} </td>
            </ng-container>

            <ng-container *ngIf="rol ==='administrador'" matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                <td mat-cell *matCellDef="let element" class="td-editar">
                    <i class="bi bi-pencil-square" (click)="goEditar(element.id)"></i>
                </td>
            </ng-container>

            <ng-container *ngIf="rol === 'administrador'" matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                <td mat-cell *matCellDef="let element" class="td-eliminar">
                    <i class="bi bi-trash3-fill" (click)="delete(element.id)"></i>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
